In [1]:
# Import dependencies
import pandas as pd

In [6]:
# Load vine_table data and create a DataFrame for the data
vine_table_df = pd.read_csv('vine_table.csv')
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R61SI1RWZEUSU,4.0,0.0,2.0,N,Y
1,R2ZFZVK5H4C7E6,5.0,0.0,0.0,N,N
2,R16FX512LAE2A9,1.0,1.0,1.0,N,Y
3,R3EVLJJG1WU2TI,5.0,0.0,0.0,N,Y
4,RFSCDAT96PHXN,4.0,0.0,0.0,N,Y

In [9]:
# Check shape of DataFrame
vine_table_df.shape

(5331449, 6)

In [8]:
# Check for any null values in DataFrame
vine_table_df.isnull().sum()

review_id              0
star_rating          234
helpful_votes        234
total_votes          234
vine                 234
verified_purchase    234
dtype: int64

In [10]:
# Check for data types in DataFrame
vine_table_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [17]:
# Filter DataFrame for total_votes >= 20
vine_table_df_filtered_total_votes = vine_table_df[(vine_table_df['total_votes'] >= 20)]
vine_table_df_filtered_total_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
102,RJSVNDGO0J1JY,5.0,21.0,21.0,N,N
186,R8DVDHP9F9L34,1.0,2.0,20.0,N,Y
243,R2SOBVB236WJP0,3.0,24.0,45.0,N,Y
339,R1O4VSAKKBUFG8,5.0,19.0,24.0,N,Y
424,RSX3CPZF61BSZ,4.0,14.0,21.0,N,Y

In [25]:
# Filter DataFrame for helpful_votes >= 50%
vine_table_df_filtered_helpful_votes = vine_table_df_filtered_total_votes[(
    vine_table_df_filtered_total_votes['helpful_votes']/vine_table_df_filtered_total_votes['total_votes']) >= 0.5]
vine_table_df_filtered_helpful_votes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
102,RJSVNDGO0J1JY,5.0,21.0,21.0,N,N
243,R2SOBVB236WJP0,3.0,24.0,45.0,N,Y
339,R1O4VSAKKBUFG8,5.0,19.0,24.0,N,Y
424,RSX3CPZF61BSZ,4.0,14.0,21.0,N,Y
496,R2ARCCGFQ50AY1,1.0,23.0,24.0,N,N

In [26]:
# Check shape of filtered DataFrame
vine_table_df_filtered_helpful_votes.shape

(121360, 6)

In [27]:
# Check for any null values in filtered DataFrame
vine_table_df_filtered_helpful_votes.isnull().sum()

review_id            0
star_rating          0
helpful_votes        0
total_votes          0
vine                 0
verified_purchase    0
dtype: int64

In [31]:
# Filter DataFrame for vine = Y
vine_table_df_filtered_vine_review_yes = vine_table_df_filtered_helpful_votes[(
    vine_table_df_filtered_helpful_votes['vine']) == 'Y' ]
vine_table_df_filtered_vine_review_yes.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7459,R2VWEN0IY6URVQ,3.0,16.0,22.0,Y,N
41152,R132JD1EQ62TH0,3.0,237.0,295.0,Y,N
47726,RJ9ZCF2V76C79,2.0,27.0,35.0,Y,N
60964,R37BYT7O8X90G4,3.0,18.0,21.0,Y,N
91123,R6K8ODDN8RG0Z,1.0,46.0,60.0,Y,N

In [32]:
# Check shape of filtered DataFrame
vine_table_df_filtered_vine_review_yes.shape

(497, 6)

In [33]:
# Filter DataFrame for vine = N
vine_table_df_filtered_vine_review_no = vine_table_df_filtered_helpful_votes[(
    vine_table_df_filtered_helpful_votes['vine']) == 'N' ]
vine_table_df_filtered_vine_review_no.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
102,RJSVNDGO0J1JY,5.0,21.0,21.0,N,N
243,R2SOBVB236WJP0,3.0,24.0,45.0,N,Y
339,R1O4VSAKKBUFG8,5.0,19.0,24.0,N,Y
424,RSX3CPZF61BSZ,4.0,14.0,21.0,N,Y
496,R2ARCCGFQ50AY1,1.0,23.0,24.0,N,N

In [34]:
# Check shape of filtered DataFrame
vine_table_df_filtered_vine_review_no.shape

(120863, 6)

In [47]:
# Count total reviews, 5-star reviews and percentage of 5-star reviews for vine = Yes
total_reviews_vine_yes_count = vine_table_df_filtered_vine_review_yes['review_id'].count()

total_reviews_vine_yes_5_star_count = vine_table_df_filtered_vine_review_yes[(
    vine_table_df_filtered_vine_review_yes['star_rating']) == 5.0].count()['review_id']

percentage_reviews_vine_yes_5_star = round(total_reviews_vine_yes_5_star_count/total_reviews_vine_yes_count * 100, 2)

print(
    f" Total Number of Vine Reviews : {total_reviews_vine_yes_count}\n"
    f" Number of Vine Reviews with 5-Star Rating : {total_reviews_vine_yes_5_star_count}\n"
    f" Percentage of Vine Reviews with 5-Star Rating : {percentage_reviews_vine_yes_5_star:.1f}%\n"
)

 Total Number of Vine Reviews : 497
 Number of Vine Reviews with 5-Star Rating : 220
 Percentage of Vine Reviews with 5-Star Rating : 44.3%

In [48]:
# Count total reviews, 5-star reviews and percentage of 5-star reviews for vine = No
total_reviews_vine_no_count = vine_table_df_filtered_vine_review_no['review_id'].count()

total_reviews_vine_no_5_star_count = vine_table_df_filtered_vine_review_no[(
    vine_table_df_filtered_vine_review_no['star_rating']) == 5.0].count()['review_id']

percentage_reviews_vine_no_5_star = round(total_reviews_vine_no_5_star_count/total_reviews_vine_no_count * 100, 2)

print(
    f" Total Number of non-Vine Reviews : {total_reviews_vine_no_count}\n"
    f" Number of non-Vine Reviews with 5-Star Rating : {total_reviews_vine_no_5_star_count}\n"
    f" Percentage of non-Vine Reviews with 5-Star Rating : {percentage_reviews_vine_no_5_star:.1f}%\n"
)

 Total Number of non-Vine Reviews : 120863
 Number of non-Vine Reviews with 5-Star Rating : 74470
 Percentage of non-Vine Reviews with 5-Star Rating : 61.6%